*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body{
    width: 100%;
    height: 100%;
    padding: 0 1.3rem;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* ===================
    Tablet
====================*/
@media (min-width: 600px){
    body{
        padding: 0 3.5rem;
    }
}

/* ===================
    Desktop
====================*/
@media (min-width: 1024px){
    body{
        padding: 0 5rem;
    }
}