/* ===================
    CSS Variables
====================*/
:root {
    --color-primary: #EF5DA8;
    --color-text: #393F48;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

body{
    width: 100%;
    height: 100%;
    padding: 0 1.3rem;
    color: var(--color-text);
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}
