/* ===================
    CSS Variables
====================*/
:root {
    --color-primary: #EF5DA8;
    --color-text: #393F48;
}
/*Jade - start*/




/*Jade - end*/


/*Gabriel - start*/





/*Gabriel - end*/