/* ===================
    CSS Variables
====================*/
:root {
    --color-primary: #EF5DA8;
    --color-text: #393F48;
}
/*Jade - start*/
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-2px); }
    50% { transform: translateY(-4px); }
    75% { transform: translateY(-2px); }
}

@keyframes hover-color {
    0% { background-color: #fff; }
    50% { background-color: #EF5DA8; }
    100% { background-color: #fff; }
}


/*Jade - end*/


/*Gabriel - start*/





/*Gabriel - end*/